<div class="px-4 py-5 sm:px-6 flex gap-4">
  <%= link_to "Edit", edit_cloth_path(@cloth), class: "inline-flex justify-center rounded-md bg-indigo-600 px-4 py-2 text-sm font-medium text-white hover:bg-indigo-700" %>
  <%= button_to "Delete", @cloth, method: :delete, data: { turbo_confirm: "Are you sure?" }, class: "inline-flex justify-center rounded-md bg-red-600 px-4 py-2 text-sm font-medium text-white hover:bg-red-700" %>
</div>