<div class="max-w-3xl mx-auto">
  <%= link_to "â† Back", cloths_path, class: "text-indigo-600 hover:text-indigo-900 mb-4 inline-block" %>
  
  <div class="bg-white shadow overflow-hidden sm:rounded-lg">
    <%= render "cloth_details" %>
    <%= render "cloth_actions" %>
  </div>
</div>